.bar-chart {
    animation: fadeOut 0.5s;
    margin: 0px;
    height: fit-content;
    width: 100%;
    padding: 5px;

}

.chart-title {

    position: relative;
    margin: 0px;
    padding: 5px;
    text-align: center;

}

.chart-wrapper {

    position: relative;
    overflow-x: scroll;

}

.line-chart {

    display: none;
    animation: fadeOut 0.8s;
}

@keyframes fadeOut {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}