@import "./variables";

.bar-chart {
    margin: 0px;
    padding: 5px;
}

.line-chart {
    @extend .bar-chart;
    display: none;
    margin-top: 5px;
    animation: fadeIn 0.8s;
}

.chart-wrapper {
    position: relative;
    overflow-x: scroll;
}


