@import "./variables";

.bar-chart {
    margin: 0px;
    padding: 5px;
}

.line-chart {
    @extend .bar-chart;
    display: none;
    margin-top: 5px;
    animation: fadeIn 0.8s;
}

.chart-title-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    text-align: center;

    border: 0.7px solid $green;
    border-radius: $border-radius;

    width: 400px;
    height: 62px;
    padding-top: 0px;
    line-height: 15px;
    margin: 10px auto -10px auto;

    hr {
        margin-left: 32px;
        background-color: $blue;
        height: 1px;
        width: 150.5px;
        border: none;
    }

    &:hover .title-underline {
        animation: lineScale 0.79s, fade-out 0.5s;
        animation-fill-mode: forwards;
    }

    &:hover .dropdown-content-profile {
        display: block;

    }
}

.dropdown-content-profile {
    @extend .dropdown-content-list;
    border: 2px solid $blue;
    border-top: none;
    left: 0px;
    top: 52px;
    display: none;
    animation: rotateY 1s ease-in-out;
    transform-origin: top center
}


.chart-title {
    margin: 0px;
    padding: 5px;
    text-align: center;
}

.chart-title-name {
    @extend .chart-title;
    font-style: italic;
    text-transform: capitalize;
}

.title-underline {

    animation: fadeIn 1s;
}

.chart-wrapper {
    position: relative;
    overflow-x: scroll;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

@keyframes lineScale {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(2.66);
    }
}

@keyframes rotateY {
    0% {
        transform: rotateY(90deg)
    }

    80% {
        transform: rotateY(-10deg)
    }

    100% {
        transform: rotateY(0)
    }
}