@import 'variables';

.student-checkbox {
    float: right;
    margin-left: 10px;

}

.Switch-chart-wrapper {

    display: flex;
    justify-content: center;
    //---------------------------------
    border: 1px solid rgb(243, 237, 237);
    border-radius: $border-radius;
    //---------------------------------
    width: 380px;
    height: fit-content;
    padding: 4px;
    margin-top: 10px;

    .chart-button {
        display: inline-block;
        text-align: center;
        position: relative;
        box-sizing: border-box;
        //-------------------------------
        border: 1px solid white;
        border-radius: $border-radius;
        //-------------------------------
        text-decoration: none;
        font-weight: $font-weight;
        //-------------------------------
        color: #FFFFFF;
        background-color: $blue;
        //-------------------------------
        padding: 0.7em 1.7em;
        margin-left: 5px;

        &:hover {
            border-color: $green;
        }
    }

}

.radio-wrapper {
    @extend .Switch-chart-wrapper;

    .radio-button {
        margin-left: 10px;
    }

}

.sort-wrapper {
    @extend .Switch-chart-wrapper;

    .tooltiptext-a {
        margin-left: 5px;
        font-size: 12px;
        color: $green;
    }

    .tooltiptext-d {
        @extend .tooltiptext-a;
        //--------------------
        margin-left: 0px;
        font-size: 12px;
        color: $blue;
    }

    .sort-button {
        @extend .chart-button;
        //--------------------
        position: relative;
        height: 35px;
        padding-top: 8px;
    }
}