@import "./variables";

@mixin flexCenter() {
    display: flex;
    align-items: center;
    justify-content: center;

}

.navbar {
    position: flex;
    width: 100%;
    overflow: hidden;
    font-family: Arial;

    
}

.border-top {
    position: relative;
    width: 100%;
    height: 5px;
    background: linear-gradient(90deg, $blue 50%, $green 50%);
}

.dropdown-list {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    float: left;
    width: 50%;
    z-index: 1;

}

.dropdown-content-list {
    display: none;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.85);
    border: $borderBlue;
    border-top: none;
    border-radius: 0 0 10px 10px;
    left: calc(100% / 4 - 200px);
    width: 400px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    top: 5px;
    z-index: 1;


}

.li-item {
    padding: 3px;
    min-width: 200px;

    a {
        text-decoration: none;
        color: black;
        font-size: 16px;
        font-family: inherit;
        padding: 5px;
    }

    &:hover {
        border-bottom: 1px solid $blue;
        margin-bottom: 2px;
        margin-left: 1px;
        color: white;

    }
}

.dropdown-ul {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    background-color: white;
    opacity: 0.8;
    border-radius: 10px;
    margin-top: 50px;
    margin-bottom: 0px;
    padding: 0px 3px 5px 3px;
    list-style-type: none;

}

.dropbtn-list {
    font-size: 16px;
    border: $borderBlue;
    font-size: 16px;
    border-radius: 0 0 10px 10px;
    color: white;
    padding: 10 0 10 0;
    background-color: $blue;
    font-family: inherit;
    width: 400px;
    height: 30px;
    cursor: pointer;
    
}

.home-button {

    font-style: italic;
    color: rgb(16, 15, 15);
    border-left: $borderBlue;
    border-right: $borderGreen;
    border-top: none;
    border-bottom: none;
    height: 20px;
    cursor: pointer;
    font-family: inherit;
    padding-top: 10px;
    font-size: 15px;
    border-radius: 0 0 10 10;
    font-size: 16px;
    width: 100px;
    background: white;

}

.button-wrapper-home {
    display: "block";
    position: absolute;
    left: calc(50% - 50px);
}


.button-wrapper-list {
    &:hover .dropdown-content-list {
        display: block;
    }
}

.dropdown-content-filter {

    visibility: hidden;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.85);
    border: $borderGreen;
    border-top: none;
    border-radius: 0 0 10px 10px;
    right: calc(100% / 4 - 200px);
    width: 400px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    top: 5px;
    z-index: 1;

}

.dropdown-filter {
    @extend .dropdown-list;
    float: right;
}

.dropbtn-filter {
    @extend .dropbtn-list;
    background-color: $green;
    border-color: $green;
}

.button-wrapper-filter {
    &:hover .dropdown-content-filter {
        visibility: visible;
    }
}