@import "./variables";

.dropdown-content-profile {
    @extend .dropdown-content-list;
    //---------------------------------
    display: none;
    background-color: white;
    //---------------------------------
    border: 2px solid $blue;
    border-radius: $border-radius;
    //---------------------------------
    padding: 0px;
    left: 0px;
    top: 50px;
    //---------------------------------
    animation: rotateY 1s ease-in-out;
    transform-origin: top center;
}

.profile-wrapper {
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    text-align: left;
    //---------------------
    width: 380px;
    height: fit-content;
    //---------------------
    list-style: none;

    li {
        margin: 5px;
    }

    .photo {
        position: absolute;
        //-----------------
        margin-top: -30px;
        margin-left: 240px;
        padding: 0;
        //------------------
        height: fit-content;
        width: auto;
    }

    img {
        height: 150px;
        width: auto;
    }

    .ratings-wrapper {
        margin-top: 5px;
        margin-left: 10px;

        :nth-child(1) {
            color: $blue;
            border: $borderBlue;
        }

        :nth-child(2) {
            color: $green;
            border: $borderGreen;
            margin-top: 5px;
        }
    }

    .ratings {
        line-height: 17px;
        padding: 4px;
        border-radius: $border-radius;
        width: 130px;
    }
}

.dropdown-ul-profile {
    @extend .dropdown-ul;
    //------------------
    text-align: center;
}