.navbar {
  position: flex;
  width: 100%;
  overflow: hidden;
  font-family: Arial;
}

.border-top {
  position: relative;
  width: 100%;
  height: 5px;
  background: linear-gradient(90deg, rgb(66, 135, 245) 50%, rgb(182, 245, 66) 50%);
}

.dropdown-list, .dropdown-filter {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  float: left;
  width: 50%;
  z-index: 1;
}

.dropdown-content-list {
  display: none;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.85);
  border: 1px solid rgb(66, 135, 245);
  border-top: none;
  border-radius: 0 0 10px 10px;
  left: calc(25% - 200px);
  width: 400px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  top: 5px;
  z-index: 1;
}

.li-item {
  padding: 3px;
  min-width: 100px;
}
.li-item a {
  text-decoration: none;
  color: black;
  font-size: 16px;
  font-family: inherit;
  padding: 5px;
}
.li-item:hover {
  border-bottom: 1px solid rgb(66, 135, 245);
  margin-bottom: 2px;
  margin-left: 1px;
  color: white;
}

.dropdown-ul {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  background-color: white;
  opacity: 0.8;
  border-radius: 10px;
  margin-top: 50px;
  margin-bottom: 0px;
  padding: 0px 3px 5px 3px;
  list-style-type: none;
}

.dropbtn-list, .dropbtn-filter {
  font-size: 16px;
  border: 1px solid rgb(66, 135, 245);
  font-size: 16px;
  border-radius: 0 0 10px 10px;
  color: white;
  padding: 10 0 10 0;
  background-color: rgb(66, 135, 245);
  font-family: inherit;
  width: 400px;
  height: 30px;
  cursor: pointer;
}

.home-button {
  font-style: italic;
  color: rgb(16, 15, 15);
  border-left: 1px solid rgb(66, 135, 245);
  border-right: 1px solid rgb(182, 245, 66);
  border-top: none;
  border-bottom: none;
  height: 20px;
  cursor: pointer;
  font-family: inherit;
  padding-top: 10px;
  font-size: 15px;
  border-radius: 0 0 10 10;
  font-size: 16px;
  width: 100px;
  background: white;
}

.button-wrapper-home {
  display: "block";
  position: absolute;
  left: calc(50% - 50px);
}

.button-wrapper-list:hover .dropdown-content-list {
  display: block;
}

.dropdown-content-filter {
  visibility: hidden;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.85);
  border: 1px solid rgb(182, 245, 66);
  border-top: none;
  border-radius: 0 0 10px 10px;
  right: calc(25% - 200px);
  width: 400px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  top: 5px;
  z-index: 1;
}

.dropdown-filter {
  float: right;
}

.dropbtn-filter {
  background-color: rgb(182, 245, 66);
  border-color: rgb(182, 245, 66);
}

.button-wrapper-filter:hover .dropdown-content-filter {
  visibility: visible;
}

.chart {
  margin: 0px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  padding: 5px;
}

.chart-title {
  position: relative;
  margin: 0px;
  padding: 5px;
  text-align: center;
}

.chart-wrapper {
  position: relative;
  overflow-x: scroll;
}

.line-chart {
  display: none;
}

.student-checkbox {
  float: right;
  margin-left: 10px;
}

.Switch-chart-wrapper, .sort-wrapper, .radio-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  border: 1px solid rgb(243, 237, 237);
  border-radius: 10px;
  width: 380px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 4px;
}
.Switch-chart-wrapper .chart-button, .sort-wrapper .chart-button, .sort-wrapper .sort-button, .radio-wrapper .chart-button {
  display: inline-block;
  padding: 0.7em 1.7em;
  border: 1px solid white;
  border-radius: 10px;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #FFFFFF;
  background-color: rgb(66, 135, 245);
  text-align: center;
  position: relative;
  margin-left: 5px;
}
.Switch-chart-wrapper .chart-button:hover, .sort-wrapper .chart-button:hover, .sort-wrapper .sort-button:hover, .radio-wrapper .chart-button:hover {
  border-color: rgb(182, 245, 66);
}

.radio-wrapper .radio-button {
  margin-left: 10px;
}

.sort-wrapper .sort-button {
  position: relative;
  height: 35px;
  padding-top: 8px;
}

@media all and (max-width: 30em) {
  a.button7 {
    display: block;
    margin: 0.4em auto;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}/*# sourceMappingURL=App.css.map */