@import "./navbar";
@import "./charts";
@import "./variables";


@mixin flexCenter() {
  display: flex;
  align-items: center;
  justify-content: center;

}

* {
  box-sizing: border-box;
  padding: 0
}

.checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
}

.radio-button {
  margin: auto;
  width: fit-content;
  padding: 5px;

}

