.navbar {
  position: flex;
  top: 0;
  width: 100%;
  overflow: hidden;
}
.navbar .border-top {
  position: relative;
  width: 100%;
  height: 5px;
  background: linear-gradient(90deg, rgb(66, 135, 245) 50%, rgb(182, 245, 66) 50%);
  -webkit-animation: fadeIn 2s;
          animation: fadeIn 2s;
}

.dropdown-list, .dropdown-filter {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  float: left;
  width: 50%;
  z-index: 1;
}

.dropdown-content-list, .dropdown-content-profile {
  display: none;
  position: absolute;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0.85);
  border: 1px solid rgb(66, 135, 245);
  border-top: none;
  border-radius: 0 0 10px 10px;
  left: calc(25% - 200px);
  width: 400px;
  top: 5px;
  z-index: 2;
  -webkit-animation: growDown 0.4s ease-in-out;
          animation: growDown 0.4s ease-in-out;
  transform-origin: top center;
}

.dropdown-ul, .dropdown-ul-profile {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  background-color: white;
  opacity: 0.8;
  margin: 50px auto 7px 25px;
  list-style-type: none;
  padding: 4px;
  width: 350px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.li-item {
  margin: 3px;
  padding: 3px;
  min-width: 200px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.li-item a {
  text-decoration: none;
  color: black;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  padding: 5px;
}
.li-item:hover {
  border-bottom: 1px solid rgb(66, 135, 245);
  margin-bottom: 2px;
  margin-left: 1px;
}

.dropbtn-list, .dropbtn-filter {
  font-size: 16px;
  color: white;
  background-color: rgb(66, 135, 245);
  border: 1px solid rgb(66, 135, 245);
  border-radius: 0 0 10px 10px;
  padding: 10 0 10 0;
  width: 400px;
  height: 30px;
  cursor: pointer;
  -webkit-animation: growDown 0.4s ease-in-out;
          animation: growDown 0.4s ease-in-out;
  transform-origin: top center;
}

.home-button {
  font-style: bold;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  border-left: 1px solid rgb(66, 135, 245);
  border-right: 1px solid rgb(182, 245, 66);
  border-bottom: white;
  border-top: none;
  border-radius: 0 0 10px 10px;
  padding-left: 2px;
  height: 30px;
  width: 100px;
  color: white;
  background: linear-gradient(90deg, rgb(66, 135, 245) 50%, rgb(182, 245, 66) 50%);
  cursor: pointer;
  -webkit-animation: growDown 0.4s ease-in-out;
          animation: growDown 0.4s ease-in-out;
  transform-origin: top center;
}
.home-button:hover {
  font-weight: 700;
  font-style: italic;
  border-color: rgba(235, 82, 82, 0.9);
}

.button-wrapper-home {
  display: "block";
  position: absolute;
  left: calc(50% - 50px);
  -webkit-animation: fadeIn 0.8s;
          animation: fadeIn 0.8s;
}

.button-wrapper-list:hover .dropdown-content-list, .button-wrapper-list:hover .dropdown-content-profile {
  display: block;
}

.dropdown-content-filter {
  display: none;
  position: absolute;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.85);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border: 1px solid rgb(182, 245, 66);
  border-top: none;
  border-radius: 0 0 10px 10px;
  right: calc(25% - 200px);
  width: 400px;
  top: 5px;
  -webkit-animation: growDown 0.4s ease-in-out;
          animation: growDown 0.4s ease-in-out;
  transform-origin: top center;
}

.dropdown-filter {
  float: right;
}

.dropbtn-filter {
  background-color: rgb(182, 245, 66);
  border-color: rgb(182, 245, 66);
}

.button-wrapper-filter:hover .dropdown-content-filter {
  display: block;
}

.student-checkbox {
  float: right;
  margin-top: 4px;
}

.bar-chart, .line-chart {
  margin: 0px;
  padding: 5px;
}

.line-chart {
  display: none;
  margin-top: 5px;
  -webkit-animation: fadeIn 0.8s;
          animation: fadeIn 0.8s;
}

.chart-wrapper {
  position: relative;
  overflow-x: scroll;
}

.Switch-chart-wrapper, .sort-wrapper, .radio-wrapper, .table-button-wrapper {
  display: flex;
  justify-content: center;
  border: 1px solid rgb(243, 237, 237);
  border-radius: 10px;
  width: 380px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 4px;
  margin-top: 10px;
}
.Switch-chart-wrapper .chart-button, .sort-wrapper .chart-button, .sort-wrapper .sort-button, .radio-wrapper .chart-button, .table-button-wrapper .chart-button, .table-button-wrapper .table-button {
  display: inline-block;
  text-align: center;
  position: relative;
  box-sizing: border-box;
  border: 1px solid white;
  border-radius: 10px;
  text-decoration: none;
  font-weight: 400;
  color: #FFFFFF;
  background-color: rgb(66, 135, 245);
  padding: 0.7em 1.7em;
  margin-left: 5px;
}
.Switch-chart-wrapper .chart-button:hover, .sort-wrapper .chart-button:hover, .sort-wrapper .sort-button:hover, .radio-wrapper .chart-button:hover, .table-button-wrapper .chart-button:hover, .table-button-wrapper .table-button:hover {
  border-color: rgb(182, 245, 66);
}

.table-button-wrapper .table-button {
  width: 100px;
  height: 35px;
  padding-top: 8px;
}

.radio-wrapper .radio-button {
  margin-left: 10px;
}

.sort-wrapper .tooltiptext-a, .sort-wrapper .tooltiptext-d {
  margin-left: 5px;
  font-size: 12px;
  color: rgb(182, 245, 66);
}
.sort-wrapper .tooltiptext-d {
  margin-left: 0px;
  font-size: 12px;
  color: rgb(66, 135, 245);
}
.sort-wrapper .sort-button {
  position: relative;
  height: 35px;
  padding-top: 8px;
}

.chart-title-wrapper {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: 0.7px solid rgb(182, 245, 66);
  border-radius: 10px;
  width: 400px;
  height: 62px;
  padding-top: 0px;
  line-height: 15px;
  margin: 10px auto -10px auto;
}
.chart-title-wrapper hr {
  background-color: rgb(66, 135, 245);
  border: none;
  margin-left: 16px;
  height: 1px;
  width: 200px;
}
.chart-title-wrapper:hover .title-underline {
  -webkit-animation: lineScale 0.79s;
          animation: lineScale 0.79s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.chart-title-wrapper:hover .dropdown-content-profile {
  display: block;
}

.arrowDown {
  margin-left: 5px;
  height: 20px;
  position: absolute;
}

.chart-title, .chart-title-name {
  margin: 0px;
  padding: 5px;
  text-align: center;
}

.chart-title-name {
  font-style: italic;
  text-transform: capitalize;
}

.title-underline {
  -webkit-animation: fadeIn 1s;
          animation: fadeIn 1s;
}

.dropdown-content-profile {
  display: none;
  background-color: white;
  border: 2px solid rgb(66, 135, 245);
  border-radius: 10px;
  padding: 0px;
  left: 0px;
  top: 50px;
  -webkit-animation: rotateY 1s ease-in-out;
          animation: rotateY 1s ease-in-out;
  transform-origin: top center;
}

.profile-wrapper {
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 380px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  list-style: none;
}
.profile-wrapper li {
  margin: 5px;
}
.profile-wrapper .photo {
  position: absolute;
  margin-top: 110px;
  margin-left: 220px;
  padding: 0;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: auto;
}
.profile-wrapper img {
  height: 150px;
  width: auto;
}
.profile-wrapper .ratings-wrapper {
  margin-top: 5px;
  margin-left: 10px;
}
.profile-wrapper .ratings-wrapper :nth-child(1) {
  color: rgb(66, 135, 245);
  border: 1px solid rgb(66, 135, 245);
}
.profile-wrapper .ratings-wrapper :nth-child(2) {
  color: rgb(182, 245, 66);
  border: 1px solid rgb(182, 245, 66);
  margin-top: 5px;
}
.profile-wrapper .ratings {
  line-height: 17px;
  padding: 4px;
  border-radius: 10px;
  width: 130px;
}

.dropdown-ul-profile {
  text-align: center;
}

.table {
  display: none;
}

.table-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  padding: 0 20px;
  box-sizing: border-box;
}

table {
  border-spacing: 0;
  border-collapse: separate;
  border-radius: 10px;
  border: 1px solid rgb(182, 245, 66);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  line-height: 1.5;
  text-align: left;
  width: 50%;
}
table tr {
  border: 1px solid rgb(182, 245, 66);
}
table th {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  padding: 12px 8px;
  text-decoration: underline;
  border-bottom: 1px solid rgb(66, 135, 245);
}
table td {
  padding: 6px 4px;
}
table th {
  font-weight: 700;
}
table tbody tr:nth-child(odd) {
  background-color: rgba(66, 135, 245, 0.1);
}
table tbody tr:hover {
  background-color: rgba(182, 245, 66, 0.2);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes lineScale {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.5);
  }
}
@keyframes lineScale {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.5);
  }
}
@-webkit-keyframes rotateY {
  0% {
    transform: rotateY(90deg);
  }
  80% {
    transform: rotateY(-10deg);
  }
  100% {
    transform: rotateY(0);
  }
}
@keyframes rotateY {
  0% {
    transform: rotateY(90deg);
  }
  80% {
    transform: rotateY(-10deg);
  }
  100% {
    transform: rotateY(0);
  }
}
@-webkit-keyframes growDown {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}
@keyframes growDown {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}/*# sourceMappingURL=App.css.map */