.App {
  text-align: center;
}

.chart{
  margin: 0px;
  height: auto;
  width: 100%;
  padding: 5px;
}

.chart-title{
  position: relative;
  margin: 0px;
  padding: 5px;
  text-align: center;
}

.chart-wrapper{
 
  overflow-x: scroll;
}

.radio{

  margin:auto;
  width: 15%;
  padding: 5px;
 

}










