.App {
  text-align: center;
}

.bar-chart{
  height: 400px;
  width: auto;
  padding: 15px;
}

.line-chart{
  height: 400px;
  width: auto;
  padding: 15px;

}

.chart-title{
  position: relative;
  margin: 0px;
  padding: 5px;
  text-align: center;
}








